fastapi
uvicorn[standard]
gunicorn
resend
supabase
pymongo
dnspython
python-dotenv
beautifulsoup4
requests
pydantic
pydantic-settings
email-validator
itsdangerous
apscheduler
pywebpush
stripe
bleach
slowapi
langdetect
google-generativeai
user-agents
sentry-sdk[fastapi]
certifi
psycopg[binary]
pyjwt
sqlmodel
asyncpg
sqlalchemy[asyncio]
ftfy
unstructured
httpx
